{% extends 'index.html' %}
{% load static %}

{% block title %} Download the video {% endblock %}
{% block header %} DOWNLOAD SETTINGS {% endblock %}

{% block content %}
<div class="wrapper">
    <div class="title">
    </div>
    <form class="form" id="id_download_form" action="download" method="POST">
       {% csrf_token %}
        <div class="inputfield">
            <label>FORMAT</label>
            <div class="custom_select">
              {{ form.select_format }}
            </div>
         </div> 
        <div class="inputfield">
          <label>RESOLUTION</label>
          <div class="custom_select">
            {{ form.select_resolution }}
          </div>
       </div> 
      <div class="metadata">
        <label>METADATA </label>
        <label class="switch">
            {{ form.select_metadata }}
            <span class="slider round"></span>
          </label>
       </div>
        <button class="button" id="id_download_button" type="submit">
        <div class="content">
          <i class="fa-regular fa-circle-down"></i>
          <span class="button-text">DOWNLOAD</span>
        </div>
      </button>

    </form>
    </div>
</div>


<script>
    document.querySelector('#id_select_format').onchange = ev => {
      const value = ev.target.value;
      if (value === 'Audio') {
        document.querySelector('#id_select_resolution').disabled = true;
      } else {
        document.querySelector('#id_select_resolution').disabled = false;
      }
    }

  let button = document.querySelector(".button");

  button.addEventListener("click", ()=>{
    button.classList.add("active");

    setTimeout(()=>{
      button.classList.remove("active");
      document.querySelector("i").classList.replace("fa-circle-down", "fa-circle-check")
      document.querySelector(".button-text").innerText = "DOWNLOADED";
    },6000)
  })

</script>
{% endblock %}