{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/style2.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/70bd267ff8.js" crossorigin="anonymous"></script>
    <title>{% block title %} Home {% endblock %}</title>
    <h1> {% block header %}DOWNLOAD YOUTUBE VIDEO{% endblock %} </h1>
</head>

<body>
{% block content %}

    <div class="container">
        <div class="URL-add-container">
            <form class="search-section" action="settings" method="POST">
                {% csrf_token %}
                {{ form.youtube_url }}
                <button type="submit" id="id_button_submit">PROCEED</button>
            </form>
        </div>

    </div>
{% endblock %}
    <div class="bottom-content">
        <b>lossless compression</b>
    </div>
</body>